section.about-section
  .wrapper
    .about-section__container
      .about-section__inner
        .about-section__inner-left
          img.about-section__image(src="images/about-section-image.png" loading="lazy" width="299" height="380" alt="quotes")
        .about-section__inner-right
          img.about-section__img-quotes(src="images/about-section-quotes.svg" loading="lazy" width="46" height="120" alt="quotes")
          ul.about-section__inner-text.font-s-18
            li Секонд-хенды УЛИЦЫ ЛОНДОНА — это семейные магазины в стиле винтаж 
              br.no-br
              | и гранж. Уникальный интерьер каждой торговой точки, аромамаркетинг 
              br.no-br
              | и приятная музыка делают наши секонд-хенды привлекательными для всех 
              br.no-br
              | категорий граждан 
            br
            li Сейчас наша сеть состоит из шести магазинов. Первый открылся в 1995 
              br.no-br
              | году, в Чебоксарах. За 29 лет успешной работы мы пережили не один кризис 
              br.no-br
              | и накопили бесценный опыт, который рады будем передать вам 
            br
            li Открыть секонд-хенд не сложно: арендовать помещение, сделать ремонт… 
              br.no-br
              | сложно создать правильную атмосферу, привлечь покупателей, а главное 
              br.no-br
              | найти надежных поставщиков. С нами вы без труда и лишних затрат решите 
              br.no-br
              | все эти, и другие задачи 
            br
            li Мы знаем как добиться коммерческого успеха. 20 386 человек состоит 
              br
              | в нашей программе лояльности, 29 000 в группе ВК, наш показатель 
              br
              | маржинальности составляет 200%, мы можем научить вас зарабатывать 
              br
              | и будем рады сделать это!”
