section.finances-section.color-black
  .wrapper
    .finances-section__container
      h2.finances-section__title.font-s-65.font-w-bebas-bold.text-center.text-up
        | Основные показатели <br>
        | франшизы 
        mark.mark Улицы Лондона
      .finances-section__desc.font-s-18.text-center Сотрудничая с нами вы можете рассчитывать на:
      .swiper-medium
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finance-section-icon1.svg" loading="lazy" width="40" height="40" alt="icon")
            .finances-section__card-text.font-s-32.font-w-bebas-bold.text-up от 367 000 рублей
            .finances-section__card-sub средняя чистая <br> ежемесячная прибыль
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finance-section-icon2.svg" loading="lazy" width="40" height="40" alt="icon")
            .finances-section__card-text.font-s-32.font-w-bebas-bold.text-up 12 месяцев
            .finances-section__card-sub срок окупаемости <br> вашего бизнеса
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finance-section-icon3.svg" loading="lazy" width="40" height="40" alt="icon")
            .finances-section__card-text.font-s-32.font-w-bebas-bold.text-up от 4,4 млн рублей
            .finances-section__card-sub Чистая прибыль <br> за один год
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finance-section-icon4.svg" loading="lazy" width="40" height="40" alt="icon")
            .finances-section__card-text.font-s-32.font-w-bebas-bold.text-up от 31,1%
            .finances-section__card-sub рентабельность по <br> чистой прибыли
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finance-section-icon5.svg" loading="lazy" width="40" height="40" alt="icon")
            .finances-section__card-text.font-s-32.font-w-bebas-bold.text-up 10 шагов
            .finances-section__card-sub чтобы <br> запустить бизнес
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finance-section-icon6.svg" loading="lazy" width="40" height="40" alt="icon")
            .finances-section__card-text.font-s-32.font-w-bebas-bold.text-up от 1,1 млн рублей
            .finances-section__card-sub средняя ежемесячная <br> выручка
        .medium-pagination.swiper-progress-medium
      .finances-section__text.font-s-18 Ознакомьтесь детально с финансовыми <br> расчетами вашего будущего бизнеса
      .finances-section__sub-title.font-s-65.font-w-bebas-bold.text-up Скачайте финансовую <br> модель Улицы Лондона
      img.finances-section__image(src="images/finances-section-image.png" loading="lazy" width="537" height="393" alt="icon")
      img.finances-section__img-open(src="images/finances-section-img-open.png" loading="lazy" width="239" height="178" alt="open")
      img.finances-section__img-discount(src="images/finances-section-img-discount.png" loading="lazy" width="194" height="200" alt="discount")
  .finances-section__bottom
    form.finances-section__form(data-feedback-form)
        input.input.item(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input.item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn.item(type="submit") Скачать



