header.header
  .header__container
    .header__title
      .header__title-brand.font-w-bold.font-s-18 Улицы Лондона
      .font-s-14 Франшиза сети <br> секонд-хенд магазинов
    .header__logo
      img.header__logo-img(src="images/logo.png" alt="logo" loading="lazy" width="100" height="100")
    .header__connection
      img.header__connection-icon(src="images/connection-icon.svg" alt="logo" loading="lazy" width="24" height="24")
      a.font-s-18(href="tel:+70000000000") +7 (900) 000-00-00
