section.start-section
  .wrapper
    .start-section__container.color-black
      img.start-section__img-man(src="images/start-section-img-man.jpg" loading="lazy" width="240" height="240" alt="man")
      img.start-section__img-woman(src="images/start-section-img-woman.jpg" loading="lazy" width="240" height="240" alt="woman")
      .start-section__title.font-s-65.font-w-bebas-bold.text-center.text-up
        mark.mark 5 причин 
        | открыть собственный <br> секонд хенд УЛИЦЫ ЛОНДОНА
      .swiper-medium
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__number.font-s-24.font-w-bold 1
            .start-section__text.font-s-24.font-w-bold Надежность
            .start-section__sub-text.font-s-17 Бизнес по продаже <br> подержанной одежды <br> существует с незапамятных <br> времен и бесперебойно <br> приносит прибыль
          .start-section__card.swiper-slide
            .start-section__number.font-s-24.font-w-bold 2
            .start-section__text.font-s-24.font-w-bold Стабильность
            .start-section__sub-text.font-s-17 Вашему магазину не страшен <br> никакой кризис, в трудные <br> времена спрос на товары <br> секонд-хендов растет, а вместе <br> с этим растет и ваша прибыль  
          .start-section__card.swiper-slide
            .start-section__number.font-s-24.font-w-bold 3
            .start-section__text.font-s-24.font-w-bold Спрос
            .start-section__sub-text.font-s-17 Потребность обновлять гардероб <br> доступной, модной и качественной <br> одеждой присуща всем категориям <br> граждан, удовлетворяя ее вы <br> получаете прибыль
          .start-section__card.swiper-slide
            .start-section__number.font-s-24.font-w-bold 4
            .start-section__text.font-s-24.font-w-bold Маржинальность
            .start-section__sub-text.font-s-17 Секонд-хенд — это <br> бизнес с очень высокой <br> маржинальностью. Наценка <br> на единицу товара может <br> составлять от 100% до 500%
          .start-section__card.swiper-slide
            .start-section__number.font-s-24.font-w-bold 5
            .start-section__text.font-s-24.font-w-bold Актуальность
            .start-section__sub-text.font-s-17 Специфика вашего бизнеса <br> позволяет абсолютно законно <br> торговать брендами одежды <br> ушедшими из России и получать <br> большую прибыль
        .medium-pagination.swiper-progress-medium
      .start-section__bottom.color-white
        .start-section__bottom-title.font-s-40.font-w-bebas-bold.text-center.text-up Узнайте о других преимуществах <br> бизнеса по франшизе УЛИЦЫ ЛОНДОНА
        .start-section__bottom-text.text-center.font-s-18 Скачайте подробную презентацию
        form.start-section__form(data-feedback-form)
          input.input.item2(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.item2(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.item2(type="submit") Скачать презентацию

