section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-s-65.font-w-bebas-bold.text-center.text-up
        mark.mark 10 простых шагов <br> чтобы начать зарабатывать
      .steps-section__text.font-s-18 Команда УЛИЦЫ ЛОНДОНА обучит вас и ваш персонал, <br> и подробно проконсультирует на каждом этапе запуска бизнеса
      .swiper-medium
        .steps-section__cards.swiper-wrapper
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 1
            .steps-section__card-sub.font-s-18 Заключаем договор <br> франшизы
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 2
            .steps-section__card-sub.font-s-18 Ищем помещение <br> и подписываем договор аренды
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 3
            .steps-section__card-sub.font-s-18 Согласуем, заказываем <br> и монтируем вывеску
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 4
            .steps-section__card-sub.font-s-18 Ремонтируем <br> и  оформляем помещение 
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 5
            .steps-section__card-sub.font-s-18 Проводим рекламную <br> кампанию
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 6
            .steps-section__card-sub.font-s-18 Ищем персонал
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 7
            .steps-section__card-sub.font-s-18 Формируем первичные запасы <br> товара и расходных материалов
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 8
            .steps-section__card-sub.font-s-18 Заказываем, доставляем <br> и монтируем оборудование <br> и мебель
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 9
            .steps-section__card-sub.font-s-18 Проводим обучение <br> персонала
          .steps-section__card.color-black.swiper-slide
            .steps-section__flex
              .steps-section__card-text.font-s-24.font-w-bold Этап
              .steps-section__card-number.font-s-18.font-w-bold 10
            .steps-section__card-sub.font-s-18 Торжественно открываем <br> секонд хенд <b>УЛИЦЫ ЛОНДОНА</b>
        .medium-pagination.swiper-progress-medium
      .steps-section__bottom
        .steps-section__bottom-text.font-s-24 Работаем строго по договору, <br> в котором описаны наши обязанности <br> и все условия сотрудничества
        img.steps-section__img(src="images/steps-section-image.png" loading="lazy" width="285" height="170" alt="image")
      button.steps-section__btn.btn.btn--bg-red-medim(data-remodal-target="modal-form-steps") Скачать пример договора

