section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-s-50.font-w-bebas-bold
      |НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-s-24
      |Мы свяжемся с Вами в ближайшее время
    a.btn.btn--bg-red-main(href="index.html") Вернуться на главную
