.city-section
  background-image: url("../images/city-section-bg.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  &__container
    padding: 20px 0 20px 0
    +above($breakpoints.md)
      padding 121px 0 120px 0

  &__text
    padding 20px 0
    +above($breakpoints.md)
      padding: 40px 0

