.steps-section
  background-image: url("../images/steps-section-section-bg.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  &__container
    position relative
    padding 20px 0 20px 0
    +above($breakpoints.md)
      padding 120px 0 119px 0

  &__text
    text-align: center
    padding 20px 0 20px 0
    +above($breakpoints.md)
      padding 30px 0 40px 0

  &__cards
    +above($breakpoints.md)
      display: flex
      flex-direction: row
      align-items: center
      justify-content center
      flex-wrap: wrap
      gap: 20px
      +above($breakpoints.xxl)
        gap: 40px
        justify-content start

  &__card
    height: 170px
    padding 40px 20px 20px 20px
    background-color #f9f9f9
    border-radius: 20px
    +above($breakpoints.md)
      width 360px !important

  &__flex
    display: flex
    flex-direction: row
    align-items: center
    gap 10px

  &__card-number
    width 32px
    height: 32px
    border-radius: 50%
    display: flex
    justify-content center
    align-items: center
    color: white
    background-color $main-red

  &__card-sub
    padding-top 10px

  &__bottom
    margin 20px auto
    width 100%
    max-width: 483px
    height: 114px
    position relative
    padding: 15px 15px
    background-color $main-red
    border-radius: 20px
    text-align: center
    +above($breakpoints.sm)
      height: 170px
      padding: 34px 20px
    +above($breakpoints.md)
      text-align: start
      max-width: 740px
    +above($breakpoints.xxl)
      max-width: 760px
      margin 40px auto
      position: absolute
      right: 0
      bottom: 254px
      margin: 0

  &__img
    display: none
    +above($breakpoints.md)
      display: block
      position: absolute
      border-radius: 20px
      width 285px
      height: 170px
      bottom: 0
      right: 0

  &__btn
    width 280px
    margin 20px auto 0
    +above($breakpoints.md)
      margin 40px auto 0
      width 300px
